body
{
    background-color:lightgray;
}

span{
    text-decoration:underline;
    color:blueviolet;
    font-size:medium;
}

#img2 {
    height: 300px;
    width: 225px;
}

#img3 {
    height: 300px;
    width: 225px;
}

#img4 {
    height: 300px;
    width: 225px;
}

#img5 {
    height: 300px;
    width: 225px;
}

#img6{
    height:20px;
    width:20px;
}

p {
    font-size: medium;
}

div {
    position: relative;
    border: solid 2px white;
    float: left;
    padding:6px;
    margin: 5px 3px 0px 5px;
    left: 0px;
    top: 0px;
    transition: left 3s top 3s;
}

#div1{
    background-color:white;
}

/*@keyframes surya{
    from{
        left:0px;
    }
    to{
        left:25px;
    }
}*/

#div1:hover {
    left: 5px;
    top: 5px;
}

#div2 {
    background-color: white;
    animation-name: surya;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}
#div2:hover {
    left: 5px;
    top: 5px;
}

#div3 {
    background-color: white;
}

#div3:hover {
    left: 5px;
    top: 5px;
}

#div4 {
    background-color: white;
}

#div4:hover {
    left: 5px;
    top: 5px;
}